SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

CHINGUISOFT_BASE_URL=https://chinguisoft.com/api/sms/validation
CHINGUISOFT_VALIDATION_KEY=
CHINGUISOFT_VALIDATION_TOKEN=

OTP_TTL_SECONDS=300
OTP_RESEND_COOLDOWN=60
OTP_MAX_ATTEMPTS=5

DEFAULT_LANG=ar
TIME_ZONE=Africa/Nouakchott

DEFAULT_REGION=MR
DEFAULT_COUNTRY_DIAL_CODE=+222
